<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container">
                <h3 style="margin: 20px;">Sign Up</h3>
                <div class="card w-50 shadow-sm mx-auto">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="username"  id="username" [(ngModel)]="usernameInput"
                                    class="form-control" placeholder="Enter Username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" id="password" [(ngModel)]="passwordInput"
                                    class="form-control" placeholder="Enter Password" required>
                            </div>
                            <div class="mb-3">
                                <label for="conf_password" class="form-label">Confirm Password</label>
                                <input type="password" name="conf_password" id="conf_password" [(ngModel)]="confPasswordInput"
                                    class="form-control" placeholder="Re-enter Password" required>
                            </div>
                            <div style="margin-top: 30px;">
                                <button class="btn btn-primary" (click)="signUp()">Submit</button>
                            </div>
                        </form>
                        <div style="margin-top: 30px;">
                            <a routerLink="/login" class="btn btn-secondary">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>