<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>
    <body>
        <header>
            <%- include('./common/header.html') %>
        </header>
        
        <main>
            <div class="container text-center" style="padding: 150px;">
                <h1>404 Page Not Found</h1>
                <a href="/" class="btn btn-secondary" role="button" style="margin-top: 10px;">
                    Back to Home Page
                </a>
            </div>
        </main>
        
        <footer>
            <%- include('./common/footer.html') %>
        </footer>
    </body>
</html>