<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>
    <body>
        <header>
            <%- include('./common/header.html') %>
        </header>
        
        <main>
            <div style="padding-top: 10px; padding-left: 20px;">
                <h2>
                    Welcome to Monash Deliveries!
                </h2>
                <br/>
                <p>Number of Drivers: <%= driverDb.length%></p>
                <p>Number of Packages: <%= packageDb.length%></p>
            </div>
        </main>
        
        <footer>
            <%- include('./common/footer.html') %>
        </footer>
    </body>
</html>