<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>
    <body>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid">
                <!-- Upper Section -->
                <section>
                    <div class="row">
                        <div class="col-2">
                            <h3 class="text-center font-weight-bold">Daniel Truong</h3>
                        </div>
                        <hr class="w-100 clearfix d-md-none"/>
                        <div class="col">
                            <h5>About Us</h5>
                            <p style="font-size: small;">
                                MonashSoftApp is a company aspiring to develop simple
                                and elegant systems that will meet the concerns and demand 
                                of users. Through the assistance with other partners, we have the
                                technology to develop a variety of applications under many fields. 
                                For example, with Monash University Laboratories, we have developed 
                                a Package Delivery Management Application that hosts Monash drivers 
                                to deliver products.
                            </p>
                        </div>
                        <hr class="w-100 clearfix d-md-none"/>
                        <div class="col-3">
                            <h5>Contact Us</h5>
                            <p style="font-size: small;">
                                Email: dtru0010@student.monash.edu <br>
                                Student ID: 33158312 <br>
                                Phone: +614123456 <br>
                                Address: FIT2095, FIT, Monash University
                            </p>
                        </div>
                    </div>
                </section>

                <!-- Lower Section -->
                <section>
                    <div class="row d-flex align-items-center">
                        <p class="mb-0 pe-2" style="font-size: x-small;">
                            © 2024 Copyright: Monash Deliveries. All rights reserved.
                        </p>
                    </div>
                </section>
            </div>
        </nav>
    </body>
</html>