<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <div class="container">
                <h3 style="margin: 20px;">Add a new Driver</h3>
                <div class="card w-50 shadow-sm mx-auto">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="driver_name" class="form-label">Name</label>
                                <input type="text" name="driver_name" id="driver_name" [(ngModel)]="nameInput" 
                                    class="form-control" maxlength="20" minlength="3" placeholder="Enter Driver name" 
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="driver_department" class="form-label">Department</label>
                                <select class="form-select" id="driver_department" name="driver_department" [(ngModel)]="departmentInput">
                                    <option value="" selected disabled>Select Department</option>
                                    <option value="Food">Food</option>
                                    <option value="Furniture">Furniture</option>
                                    <option value="Electronic">Electronic</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="driver_licence" class="form-label">Licence</label>
                                <input type="text" name="driver_licence" id="driver_licence" [(ngModel)]="licenceInput" 
                                    class="form-control" maxlength="5" minlength="5" placeholder="Enter Driver licence"
                                    required>
                            </div>
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="driver_isActive">is Active?</label>
                                <input class="form-check-input" type="checkbox" id="driver_isActive" name="driver_isActive" 
                                [(ngModel)]="isActiveInput" value="true" checked>
                            </div>
                            <div style="margin-top: 30px;">
                                <button class="btn btn-primary" (click)="addDriver()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>